.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}

.slide-down {
  -webkit-animation: slide-down 300ms ease-in-out 1000ms forwards;
          animation: slide-down 300ms ease-in-out 1000ms forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.heading-1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 4.17px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-2 {
  font-size: 1.5rem;
  line-height: 1.5625rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 700;
}

.heading-4 {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.body {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 400;
}

.btn-primary {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 12px 24px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn-primary:hover {
  background-color: #dfdfdf;
  color: #000;
}

.header {
  position: relative;
  height: 4.5rem;
  background-color: #fff;
  z-index: 1;
}

.header.open span {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header.open span:first-child {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10px;
          transform-origin: 10px;
  margin: 0;
}

.header.open span:last-child {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 9px;
          transform-origin: 9px;
  margin: 0;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header nav {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding: 25.5px 24px;
}

.header__toggle > span {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__toggle > span:nth-child(1) {
  margin-bottom: 4px;
}

.header__link {
  color: #000;
}

.header__link:not(:last-child) {
  margin-right: 37px;
}

.header__menu {
  background-color: #fff;
  padding: 32px;
  opacity: 1;
}

.header__menu:nth-child(1) {
  background-color: crimson;
}

.header__menu a:nth-child(-n + 2) {
  padding-bottom: 20px;
}

.header__menu a:last-of-type {
  color: #fff;
}

.header__menu a:last-of-type:hover {
  color: #000;
}

.header__menu > a {
  display: block;
  color: #000;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.header__menu hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid #dfdfdf;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 47.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-tablet {
    display: none;
  }
}
