.btn-primary {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: $white;

  background-color: $black;
  padding: 12px 24px;

  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $lightGrey;
    color: $black;
  }
}
